

<div class="row align-items-md-stretch ">
<h2>User form</h2>
<div class="col-md-6 pl-2 ">

        <form method="post" action="/postuser">
        {% csrf_token %}

        <p>Name: <br />
            <input name="name" />
            {% if form.name.errors %}
                <div class="alert alert-danger">ОШИБКА {{ form.name.errors }}</div>
            {% endif %}
        </p>
        <p>Age: <br />
            <input name="age" type="number" />
                        {% if form.age.errors %}
                <div class="alert alert-danger">ОШИБКА {{ form.age.errors }}</div>
            {% endif %}
        </p>
        <p>
            Languages:<br />
            <select name="languages">
                <option value="">Выберите значение</option>
                <option value="Python">Python</option>
                <option value="JavaScript">JavaScript</option>
                <option value="C++">C++</option>
                <option value="Java">Java</option>
             </select>
                        {% if form.languages.errors %}
                <div class="alert alert-danger">ОШИБКА {{ form.languages.errors }}</div>
            {% endif %}
        </p>
        <input type="submit" value="Send" />
    </form>

    </div>

    <div class="col-md-6 pl-2 ">
        <fieldset>
          <legend>CHOOSE YOUR DESTINY</legend>

              <div>
                <input type="radio" id="rave" name="destiny" value="rave" checked />
                <label for="rave">RAVE</label>
              </div>

            <div>
              <input type="radio" id="vodka" name="destiny" value="vodka" />
              <label for="vodka">VODKA</label>
            </div>

            <div>
              <input type="radio" id="it" name="destiny" value="it" />
              <label for="it">IT</label>
            </div>
        </fieldset>

    </div>
</div>